* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: black;
  color: white;
  font-family: "Albert Sans", sans-serif;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-container .title {
  margin: 10px;
  font-size: 20px;
}
.page-container .container .board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
}

.page-container .container .board .square {
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
}

.page-container .container .board .square:hover {
  background-color: black;
}
.page-container .container .buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.page-container .container .buttons .button {
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  width: 100px;
}
.page-container .container .buttons .board-size-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
