* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: black;
  color: white;
  font-family: "Albert Sans", sans-serif;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-container .title {
  margin: 3%;
  font-size: 20px;
}
.page-container .container .board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
}

.page-container .container .board .square {
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
}

.page-container .container .board .square:hover {
  background-color: black;
}
.page-container .container .buttons {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
}
.page-container .container .buttons .button {
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  width: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white 2px;
}
.page-container .container .buttons .button:hover {
  border-color: gray;
}

.page-container .container .buttons .color-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-container .container .buttons .color-selector label {
}

.page-container .container .buttons .color-selector #color-input {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 60px;
  width: 60px;
}
#color-input::-webkit-color-swatch {
  border-radius: 50%;
  border: solid white 1px;
}

.page-container .container .buttons .board-size-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.radio-input {
  display: none;
  width: 1em;
  height: 1em;
}
.board-size-selector label {
  font-size: 16px;
  border: solid white 1px;
  padding: 15px;
  cursor: pointer;
  height: ;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-size-selector label:hover {
  border: solid gray 1px;
}

.checkmark {
}

.page-container .container .buttons .board-size-selector label {
}
