* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: black;
  color: white;
  font-family: "Albert Sans", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-container .title {
  margin: 1%;
  font-size: 20px;
}

.page-container .container .board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
}

.page-container .container {
  display: flex;
  flex-direction: column;
}

.page-container .container .board-size-selector {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.6vh;
}
.page-container .container .board-size-selector .board-size-title {
  font-size: 20px;
}
.page-container .container .board-size-selector .btn-container {
  display: flex;
  flex-direction: column;
}
.page-container .container .board-size-selector .top-btn,
.bot-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

input[type="radio"] {
  cursor: pointer;
  border: solid white 1px;
  -webkit-appearance: none;
  height: 3em;
  width: 8em;
  border-radius: 20px;
  scale: 0.5;
}

input[type="radio"]:checked {
  box-shadow: inset 11px 15px 65px 10px rgba(125, 125, 125, 0.7);
  background: blue;
  transition: 0.89s;
}
input[type="radio"]::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  margin: 2.5px 0px 0px 2.5px;
  scale: 0.9 0.9;
  width: 2.5em;
  height: 2.5em;
  border-radius: 20px;

  background-color: rgba(18, 18, 236, 0.658);
  background-color: white;
  transition: 0.5s;
}

input[type="radio"]:checked::before {
  background: white;
  margin-left: 69px;
  transition: 0.5s;
}

.board-size-selector label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
}

.page-container .container .board .square {
  display: flex;
  flex-wrap: wrap;
  background-color: wheat;
}

.page-container .container .board .square:hover {
  background-color: black;
}
.page-container .container .buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
}
.page-container .container .buttons .button {
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  width: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white 2px;
  height: 2.5em;
  width: 6em;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-container .container .buttons .button:hover {
  box-shadow: inset 11px 15px 65px 10px rgba(125, 125, 125, 0.7);
  background: blue;
  transition: 0.3s;
}

.page-container .container .buttons .color-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-container .container .buttons .color-selector #color-input {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
#color-input::-webkit-color-swatch {
  border-radius: 50%;
  border: solid white 1px;
}
